header {
  font-family: helvetica;
  text-align: center;
  background: url(http://i.imgur.com/gHtD4SR.png);
  background-size: cover;
  color: white;
  padding: 80px 0px 20px 0px;
}

h1 {
  font-size: 70px;
  border: 2px black;
}
h2 {
  font-size: 45px;
  border: 2px black;
}