header {
  font-family: helvetica;
  text-align: center;
  background: url(http://i.imgur.com/gHtD4SR.png);
  background-size: cover;
  color: white;
  padding: 70px 0px 10px 0px;
}

#project_title {
  font-size: 70px;
  text-outline: 2px 2px black;
}
#project_tagline {
  font-size: 45px;
  text-outline: 2px 2px black;
}